# Liste Tanımlamak

nasılsa karakter dizisini tırnak işaretleriyle tanımlıyorsak, listleride köşeli parantezlerin içine alarak tanımlarız.

yani bir öğeyi tırnak içine aldığımızda karakter dizisi olduğu gibi, köşeli parantez içine aldığımız her bir öğe ise list dir.

karakter dizisini tanımlama:

In [ ]:
kardiz = "Karakter Dizisi"

liste tanımlama:

In [1]:
liste = ["öge1","öge2","öge3"]

listenin veri tipi list idir. bunu type() fonksiyonu ile öğrenebiliriz:

In [2]:
print(type(liste))

<class 'list'>

Listeler kapsayıcı bir veri tipidir. listelerin içinde karakter dizisi, tam sayılar, float sayılar olmak üzera daha bir çok veri tipi barınabilir.

Bu yüzden birden fazla değerimiz olduğunda listeleri tercih etmek çok daha kullanışlı olur:

In [3]:
listeler = ["Selam",14,"Falan",29.78]
print(listeler)

['Selam', 14, 'Falan', 29.78]

listeler değişkenin içinde birden çok veri tipi olduğu halde değerler bir listenin içinde olduğundan dolayı list olarak algılanır:

In [4]:
print(type(listeler))

<class 'list'>

eğer listemizin içindeki değerlerin veri tiplerini tek tek öğrenmek istiyorsak for döngüsünü kullanabiliriz:

In [6]:
for m in listeler:
  print("{} adlı öğenin veri tipi: {}".format(m,type(m)))

Selam adlı öğenin veri tipi: <class 'str'>
14 adlı öğenin veri tipi: <class 'int'>
Falan adlı öğenin veri tipi: <class 'str'>
29.78 adlı öğenin veri tipi: <class 'float'>

boş bir karakter dizisi:

In [ ]:
karakter = ""

boş bir liste:

In [ ]:
liste = []

tıpki karakter dizisinde olduğu gibi listelerle iki şekilde karşılaşabiliriz:

1. Listeyi kendiniz tanımlamış olabilirsiniz
2. Liste size başka bir kaynaktan gelmiş olabilir?

peki listeler başka hangi kaynaklardan gelebilir:

örneğin dir() fonksiyonu:

In [7]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

dir() fonksiyonu veri tiplerin hangi metotları alabileceğini gösteren bir fonksiyondur

bu fonskiyonun çıktısı ise köşeli parantezlerle çevrili yani list veri tipli çıktı verir.

başka bir örnekte split() methodur.

split() methodu da çıktısı list veri tiplidir.

In [8]:
kardiz = "İstanbul Büyükşehir Belediyesi"
print(kardiz.split())

['İstanbul', 'Büyükşehir', 'Belediyesi']

peki bir fonksiyonun karakter dizisi mi liste mi yoksa başka bir veri tipi vermesi neden bu kadar önemlidir.

Kullanıcıdan değer olarak İstanbul Büyükşehir Belediyesi değerini alalım

ve bu değerin ilk öğesini alalım

eğer değeri karakter dizisi olarak ele alırsak şöyle bir sonuçla:

In [9]:
kardiz = "İstanbul Büyükşehir Belediyesi"
print(kardiz[0])

İ

Eğer değeri liste olarak ele alırsak böyle bir sonuçla karşılaşırız:

In [10]:
liste = kardiz.split()
print(liste[0])

İstanbul

görüldüğü gibi karakter dizisinde değerin ilk harfi olarak i

liste veri tipinde değerin sonucu istanbul buldu.

Bu da değerin hangi veri tipinde olduğunu bilmenin önemini vurgular. Çünkü değerin veri tipini bilmeden işlemler yaparsak, programamız hata verir vermezse bile yanlış sonuçlar üretir.

karakter dizisi ile listeler tam anlamıyla aynı olmasalarda çoğu yönleri benzerdir. örneğin karakter dizisinde kullanılan birçok fonksiyon listeler içinde kullanılabilir.

mesala len() fonksiyonu. len() fonksiyonu sayesinde listelerin eleman sayısını bulabiliriz:

In [11]:
diller = ["İngilizce","Fransızca","Türkçe","İtalyanca","İspanyolca"]
print(len(diller))

5

len() fonksiyonu gibi range() fonskiyonu da kullanılabilir

örneği kullanıcıdan iki öğeli listeler geliyor:

In [14]:
[0,10]
[6,60]
[12,54]
[67,99]

[67, 99]

bu iki öğeli listeleri tek bir liste içinde toplayabiliriz:

In [19]:
sayilar = [[0,10],[6,60],[12,54],[67,99]]
for i in sayilar:
  print(*range(*i))

0 1 2 3 4 5 6 7 8 9
6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98

sadece öğeleri ekrana yazdırmak isteseydik böyle yapardık:

In [20]:
for n in sayilar:
  print(n)

[0, 10]
[6, 60]
[12, 54]
[67, 99]

şu şekilde de aynı sonucu alırdık:

In [21]:
for u in sayilar:
  print(range(u[0],u[1]))

range(0, 10)
range(6, 60)
range(12, 54)
range(67, 99)

demek ki karakter dizilerine nasılsa indeks numalarına göre ulaşabiliyorsak, listelerde de ögelere bu şekilde ulaşabildik

In [22]:
for y in sayilar:
  print(range(*y))

range(0, 10)
range(6, 60)
range(12, 54)
range(67, 99)

range() fonksiyonunu eğer for döngünün içinde kullanmıyorsak sayı aralarıklarını vermez

örneğin ilk örnekte for döngünün dışında range fonksiyonunu kullandık fakat bize sayı aralıklarını vermedi

In [24]:
for m in range(0,10):
  print(m)

0
1
2
3
4
5
6
7
8
9

bunun yerine ise * yıldızlı parametreden yararlanabiliriz:

In [25]:
print(*range(0,10))

0 1 2 3 4 5 6 7 8 9

ilk verilen örnekte ise hem range fonksiyonuna hemde her bir öğeyi temsil eden i değerine yıldızlı paramtere vererek her bir listenin öğelerinin sayı aralalarını bulmuş olduk.