# list() Fonksiyonu

 bir değeri liste yapmak için o değeri köşeli parantezlerin içine almamız yeterli olur.

 fakat bu işlemi list() fonskiyonu ile yapabiliriz:

In [1]:
alfabe = "abcçdefgğhıijklmnoöprsştuüvyz"

list() fonksiyonu:

In [2]:
harfSiralama = list(alfabe)
print(harfSiralama)

['a', 'b', 'c', 'ç', 'd', 'e', 'f', 'g', 'ğ', 'h', 'ı', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'ö', 'p', 'r', 's', 'ş', 't', 'u', 'ü', 'v', 'y', 'z']

list() fonksiyonu sayesinde karakter dizisini liste haline getirmiş olduk.

daha öncelerde nasılsa bir değeri istediğimiz veri tipine çevirmek istediğimizde int(), str(), float() gibi fonksiyonlarda yararlandıysak, değerin listeye çevrilmesi gerektiği zamanlarda list() fonksiyonunu kullanırız.

- input() fonksiyonu çıktı olarak karakter dizisi veriyor.

matemtatiksel işlemler yapmak için ise değeri önce int değerine çevirmemiz gerekiyor:

In [3]:
sayi = input("Herhangi bir sayı giriniz: ")
print(int(sayi)+5)

Herhangi bir sayı giriniz: 15
20

eğer int e çevirmeseydik typeError hatası alırdık.

işte bazen ise farklı veri tiplerine sahip değerleri liste yapısına çevirmemiz gerekebilir.

In [5]:
harf = input("Herhangi 4 ayrı harf yazınız: ")
harf2 = list(harf)
print("Girdiğiniz harfin ilk harfini yazınız: ")
print(harf2[0])

Herhangi 4 ayrı harf yazınız: xcvb
Girdiğiniz harfin ilk harfini yazınız:
x

list() fonksiyonu ile boş bir liste oluşturabilir:

In [6]:
kl = list()
print(kl)

[]

range fonksiyonunu kullanarak bir sayı ile başka bir sayı aralığını öğrenebiliriz:

bunu öğrenmek için range() fonksiyonunu for döngüsü içinde kullanabiliriz:

In [8]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

veya şu şekilde de sayı aralığını öğrenebiliriz:

In [9]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

bu işlemi birde list() fonksiyonuyla gerçeleştirebiliriz:

In [10]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
print(type(range(10)))
ls = list(range(10))
print(type(ls))

<class 'range'>
<class 'list'>

demek ki sayı aralıklarını 3 ayrı yöntemle çıkartabiliyormuşuz. Burada önemli olan işimize hangi veri tipine sahip çıktının yaradığı.

Örnekler:

In [14]:
x = list(("Apple","Banana","Cherry"))
print(x)

['Apple', 'Banana', 'Cherry']