**Machine Learning Projesi şu şekilde ilerler:**

1. import the Data ( Dataları içeri aktar)
*Datalar csv formatında olur*

2. Clean the Data (Dataları temizle)

- eğer verilerde tekrarlanan, alakasız veriler varsa onları kaldır veya değiştir.
- Daha temiz bir veriyle çalışmaya çalış aksi takdirde bilgisayarın kafası karışır ve doğru bir sonuç çıkartamaz

3. Split the Data into Training / Test Sets
- verileri iki parçaya böl
- bir parça modulü eğitmek için
- bir diğer parçayı ise makinenin doğru mu yanlış mı sonuç veriyor bunu test etmek için

4. Create a Model (Model yarat)

5. Train the Model (Modeli eğit)

6. Make predictions (Tahmin yap)

7. Evaluate and improve (sonucu değerlendir)
- eğer yanlış giden bir şey varsa verileri düzenle, değiştir, kaldır veya yeni ekle
- algoritmayı gözden geçir, değiştir farklı algoritmalar kullan ve dene
- veya parametlerden bir değişiklik yap

**Popüler Kütüphaneler**

- numpy
-Pandas
- MatPlotlib
- Scikit-Learn

data yı import etmek

kaggle.com

In [4]:
import pandas as pd
df =pd.read_csv('vgsales.csv')
df.shape # kaç verinin olduğu, kaç sütunun olduğu

(16598, 11)

In [5]:
df.describe()

               Rank          Year  ...   Other_Sales  Global_Sales
count  16598.000000  16327.000000  ...  16598.000000  16598.000000
mean    8300.605254   2006.406443  ...      0.048063      0.537441
std     4791.853933      5.828981  ...      0.188588      1.555028
min        1.000000   1980.000000  ...      0.000000      0.010000
25%     4151.250000   2003.000000  ...      0.000000      0.060000
50%     8300.500000   2007.000000  ...      0.010000      0.170000
75%    12449.750000   2010.000000  ...      0.040000      0.470000
max    16600.000000   2020.000000  ...     10.570000     82.740000

[8 rows x 7 columns]

In [6]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)