# Chapter 3 - Veriables, Floats, Input and Printing

**3.1 - Veriable Assignment**

Değişkenler belleği yani rami kullanarak verileri içinde saklayan yapılara denir.

Değişken kullanmamızdaki amaç veriyi sürekli yazmak yerine bir değişkene atayarak kolayca kullanabiliriz, ayrıca veriyi temsil edecek bir şekilde değişkenin içinde saklayarak verinin ne olduğunu açıklayarabiliriz

In [ ]:
değiskenAdi = veri

= işaretine atama ifadesi denir.

Dünyanın yaklaşık olarak yüzey yüzey alanını hesaplayalım:

In [2]:
radius_of_earth = 6371
pi = 3.14
surface_area = 4 * pi * (radius_of_earth ** 2)
print(surface_area)

509805890.96000004

**yorumlar**

In [ ]:
# bu bir yorumdur

"""
bu çok
satırlı 
bir 
yorumdur
"""

Yazacağımız kodlarda kessinlikle yorum bulunması gerekir, bunun en büyük sebebi bir süre sonra o kodda neler olduğunu unuttuğumuzda yorumlar işte o zaman hatırlatıcı görevinde bulunurlar.

#

tek bir satırlık yorumlar için kullanılır

""" """

çok satırlık yorumlar için kullanılır

kodumuzda yorumları bulunması ileride bizde veya başkasına fayda sağlasa da gereksiz yorumlar, kodumuzda yer kaplayacak ve görüntü kirliliği oluşturacak.

**3.2 - Floating-point types**

bizim bildiğimiz ondalık sayılar, python'da float olan sayılar bir veri türüdür.

In [3]:
pi = 3.14

ekranInc = 23.8
print(type(ekranInc))

<class 'float'>

type() fonksiyonu ile verilerin hangi veri tipine sahip olduklarını öğrenebiliriz.

float sayılarda integer sayılar gibi işlemler yapılabilir, ayrıca bu iki ayrı veri tipiyle işlemler yapabiliriz.

In [6]:
print(100.5 * 5)
print(2.0 // 1.0)
print(2.0 * 4.2)

502.5
2.0
8.4

neden sadece / bölme işaretini kullanmıyoruz?

Çünkü / bölme operatörüyle yapılan bölmelerin sonucu her zaman float türünde olur,

// bölme operatörü ise sayıları tam böler bu yüzden sonuç tam sayı olur(integer).

In [7]:
print(20 // 10)

print(20 / 10)

2
2.0

negatif kayan noktalı sayıları da normal bir şekilde yazabiliriz:

In [ ]:
-3.14

**3.3 - Getting user input**

Kullanıcıdan girdi almak için input() fonksiyonunu kullanırız.

bu fonksiyon sayesinde kullanıcıya ulaşabilir, kullanıcıdan aldığımız verilerle işlemler yapabiliriz.

Bu fonksiyonun en büyük ayrıntısı ise, kessinlikle kullanıcıdan gelen veriyi bir değişkene saklamamız lazım. O yüzdendir, input fonkisyonu kullandığımız değişkenlere kullanıcıdan beklediğimiz veriyi temsil eden bir isim koymamız lazım.

In [9]:
userName = input('Lütfen adınızı yazınız?: ')
print(userName)

Lütfen adınızı yazınız?: jack
jack

input() fonksiyonu girdileri str olarak döndürür, bu yüzden eğer kullanıcının yazacaği ve bizim işlerimizi sayısal ise input() fonksiyonu sayısal bir veri tipine dönüştürmemiz lazım.

kullanıcının sayısal bir değer girmesine karşılık izlebileceğimiz iki yol var.

1. eval() kullanmak.

eval() fonksiyonu tehlikeli bir fonksiyonudr. eğer tehlikeleri bertaraf edilemeyecek bir ortamda kullanılması önerilmez.

In [10]:
x = eval(input('bir sayı giriniz: '))
print(x + 10)

bir sayı giriniz: 10
20

2. int() veri tipi dönüştürücü kullanmak

Bu yöntem pratiği ama en hataya meyili yöntemdir. Çünkü eğer input() fonksiyonunu int() veri tipiyle dönüştürmeye çalışırsak ve kullanıcı sayısal bir değer değilde farklı bir değer girerse, int() dönüştürücü veriyi dönüştüremeyecek ve ValueError hatası verecek.

Fakat bu hatayı da try...except.. bloğu ile çözülebilir.

**3.4 - The Print Function**

elimizde belli veriler var ve kullanıcıya bunu göstermek istiyoruz, veya kullanıcıdan girdi alıyoruz ve bu girdiyi ekrana print() fonksiyonuyla yazdırıyoruz.

yani aslında bilgisayarı işlevleri olan, girdi alan bu girdilerle bir şeyler yapabilen ve sonra değer verip bunu ekranda gösterebilen makineler diyebiliriz.

In [11]:
print('Hello')
print('Selamlar')
print(10 + 100)

Hello
Selamlar
110

**Recap:**

- verileri programımızda nasıl saklayabileceğimizi öğrendik. Bu işlemi değişken oluşturup değişkene veri atayarak yaparız.

- Yeni bir veri tipini öğrendik: Float.

- Bölünmesinin iki şekilde yapabileceğini öğrendik:

// tam bölme işlemi yapar tam sayı döndürür

/ küsüratlı böler float döndürür

- input() fonksiyonu sayesinde kullanıcıdan giri alabiliriz

- print() fonksiyonu sayesinde elimizdeki bilgileri ekrana yazdırabiliriz

Tüm bu yeni öğrendiklerimizi bir programda toplayalım:

In [14]:
name = input('İsminizi yazınız: ')
print('Selam',name +'.')
number = int(input('Tam sayılı olarak 5 e böleceğiniz sayı: '))
print(number // 5)
numberOne = int(input('Ondalıklı sayıl olarak 5 e böleceğiniz sayı: '))
print(numberOne / 5)

İsminizi yazınız: murat
Selam murat.
Tam sayılı olarak 5 e böleceğiniz sayı: 10
2
Ondalıklı sayıl olarak 5 e böleceğiniz sayı: 10
2.0

# 3.5 - Exercises

**Question 1**

elimizde 11 tavşan var diyelim: numberOfRabbits = 11

bu tavşanlar her 3 ayda bir ikiye katlanıyor.

2 yıl sonra tavşan miktarı ne olacaktır?

benim çözümüm :)) :

In [29]:
numberOfRabits = 11
months = 24 // 3
populasyon = numberOfRabits * months
print(populasyon * 2)

176

Doğrusu:

In [32]:
numberOfRabits = 11
months = 24
# her 3 ayda bir istediği için:
pop = months // 3
topPopulasyon = numberOfRabits * (2 ** pop)
print(topPopulasyon)

2816

**Question 2**

Bu tavşan işleminin yıl olarak kullanıcının seçebilmesini sağlayın.

In [42]:
numberOfRabits = 11
year = int(input('Seçtiğiniz yılı seçiniz: '))
month = 12 * year
pop = month // 3
topPopulasyon = numberOfRabits * (2 ** pop)
print(topPopulasyon)

Seçtiğiniz yılı seçiniz: 5
11534336

eğitmenin çözdüğü:

In [39]:
number_of_rabbits = 11
years = int(input("Enter number of years: "))

months_passed = 12 * years
times_pop_doubles = months_passed // 3

pop_after_time = number_of_rabbits * (2 ** times_pop_doubles)
print(pop_after_time)

Enter number of years: 5
11534336

**Question 3**

Diyelim kullanıcı x değikenine 3 verdi y değişkenine 11

şimdi programamız x değişkeni 11 y değişkeni 3 yapacak peki bunu nasıl yapacağız:

In [47]:
x = input('x değişkeni için bir değer giriniz: ')
y = input('y değişkeni için bir değer giriniz: ')
print(x)
print(y)

askUser = input('Değerleri değiştirmek istiyor musunuz?(E veya H yazınız): ')
if askUser == 'E':
  x,y = y,x
  print('x değişkenin yeni hali,',x)
  print('y değişkenin yeni hali,',y)
elif askUser == 'H':
  print('peki.. bay bay...')
  print('x değişkenin değeri,',x)
  print('y değişkenin değeri,',y)
else:
  print('Lütfen sadece sizden istenen harfleri yazınız...')

x değişkeni için bir değer giriniz: 3
y değişkeni için bir değer giriniz: 11
3
11
Değerleri değiştirmek istiyor musunuz?(E veya H yazınız): E
x değişkenin yeni hali, 11
y değişkein yeni hali, 3

eğitmenin:

In [48]:
x = input('X value: ')
y = input('Y values: ')

tmp = x
x = y
y = tmp

print('X after swap: '+ x)
print('Y after swap: '+ y)

X value: 3
Y values: 11
X after swap: 11
Y after swap: 3